.slider {
    /*width: 50%;*/
    margin: 100px auto;
  /*  width: 1920px;*/
    margin: 100px auto;
    height: 600px;
}

.slick-slide {
  margin: 0px 90px 0 0;
}

.slick-slide img {
  width: 100%;
}




.slick-slide {
  transition: all ease-in-out .3s;

  
}

.slick-active {
 /* opacity: .5;*/
 
}

.slick-current {
  opacity: 1 !important;
  width: 635px;
    height: 554px;
    border-radius: 20px;
    background: rgba(248, 248, 255, 1) !important;
    box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.15);
    padding: 37px 60px;


}
.slick-current .slider_header{
    color: rgba(43, 61, 145, 1);
    font-family: "Kodchasan", sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 52.5px;
    letter-spacing: 0.1em;
    text-align: left;
   
}
.slick-current .slider_line{
    width: 250px;
    margin-top: 36px;
    margin-bottom: 49px;
    border: 2px solid rgba(157, 15, 15, 1);
}
.slick-current .slider_txt{
    font-family: "Kodchasan", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 42.5px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    

}
.slick-slide:nth-child(3n){
    background: rgba(157, 15, 15, 1);
  
}

.slick-slide:nth-child(2n){
    background: rgba(43, 61, 145, 1);
}

.slider_header{
    font-family: "Kodchasan", sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 52.5px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(255, 255, 255, 1);


}
.slider_line{
    width: 250px;
    margin-top: 36px;
    margin-bottom: 49px;
    border: 2px solid rgba(255, 255, 255, 1);
}
.slider_txt{
    font-family: "Kodchasan", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(255, 255, 255, 1);


}
.main_content_slider{
    height: 800px;
}
section .regular .slider{
    width: 800px !important;
}