*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

input[type="text"] {
  line-height: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

input {
  outline: 0 !important;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

a {
  text-decoration: none !important;
}
/* Menu Icon */
.hamb {
  cursor: pointer;
  right: 0;
  padding: 37px 38px;
  position: fixed;
  z-index: 3;
}
/* Style label tag */

.hamb-line {
  display: block;
  height: 5px;
  position: relative;
  width: 35px;
  background: rgba(43, 61, 145, 1);
  transform: matrix(1, 0, 0, -1, 0, 0);
  border-radius: 10px;
}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  background: rgba(43, 61, 145, 1);

  transform: matrix(1, 0, 0, -1, 0, 0);
  border-radius: 10px;
}

.hamb-line::before {
  top: 10px;
}

.hamb-line::after {
  top: -11px;
}

.side-menu {
  display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}
/* Nav menu */
.nav {
  overflow: hidden;
  right: 0;
  width: 268px;
  /*height: 845px;*/
  margin-top: 0;
  position: fixed;
  z-index: 2;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  top: 0;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  background: rgba(249, 249, 252, 1);
  
}

.menu_block {
  height: 189px;
  max-width: 1920px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 40px 30px 40px 90px;
}

.main_block {

  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}
.main_block img{
  object-fit: cover;
  object-position: 50% 100%;
  max-width: 4000px;
  height: 930px;
  width: 100%;
}

.header_block {
  display: flex;
  justify-content: space-between;
}
.menu {
  width: 100%;
  display: block;
  position: relative;
  right: 0;
}
.menu_items {
  text-align: end;
  margin-top: 40px;
}
.menu_item {
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0.1em;
  text-align: left;
  margin-right: 60px;
  color: rgba(0, 0, 0, 1);
}
.menu_item:hover{
  font-weight: 600;
  color:rgba(157, 15, 15, 1);
  
}


.top{
  background: rgba(249, 249, 252, 1);

}
.appearing_block_header {
  font-family: "Kodchasan", sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 82.5px;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgba(43, 61, 145, 1);
}
.appearing_block hr {
  border: 2px solid rgba(157, 15, 15, 1);
  width: 424px;
  margin-top: 24px;
  margin-bottom: 70px;
}
.appearing_block_txt,
.step_block_1_txt,
.step_block_2_txt,
.step_block_3_info
 {
  font-family: "Kodchasan", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 42.5px;
  letter-spacing: 0.1em;
  text-align: left;
}
.appearing_block_button, .about_us_link a {
  font-family: "Kodchasan", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.1em;
  height: 73px;
  border-radius: 35px;
  display: block;
  text-align: center;
  
 
}
.appearing_block_button{
    background: rgba(43, 61, 145, 1);
    color: rgba(255, 255, 255, 1); 
    margin-top: 70px;
    padding-top: 12px; 
    width: 409px;
}
.appearing_block_button:hover{
  background: rgba(255, 255, 255, 1);
	color: rgba(43, 61, 145, 1);
	box-shadow: inset 0 0 0 3px rgba(43, 61, 145, 1);
 
}


.appearing_block {
  max-width: 850px;
  width: 100%;
  display: block;
  position: absolute;
  top: 147px;
  left: 147px;
  background: rgba(248, 248, 255, 1);
  padding: 73px 102px;
  transform: translateX(-150%);
  animation: ani 1s forwards;
  border-radius: 20px;
  box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.15);
}
@keyframes ani {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateY(0);
  }
}

.main_content {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 232px 90px 180px 90px;
}
.contant_header,
.about_us-info_header, 
.slider_block h3,
.load_btn   {
  font-family: "Kodchasan", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 0.25em;
  
  color: transparent;
  -webkit-background-clip: text;
}
.contant_header,.about_us-info_header{
  text-align: center;
 
}



.contant_header, 
.slider_block h3,
.load_btn
{
    background-image: linear-gradient(180deg, #ff0b0b 0%, #9d0f0f 100%); 
}
.about_us-info_header,
.service_block_two .service_block_button .load_btn
{
    background-image: linear-gradient(180deg, #0093DD 0%, #2B3D91 100%);
    text-align: left;
}
.consalting_header, 
.other_service_header,
.step_block_1_header {
  font-family: "Kodchasan", sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 52.5px;
  letter-spacing: 0.1em;
  text-align: left;
  
}
.consalting_header,
.step_block_1_header
{
   color: rgba(43, 61, 145, 1); 
}
.other_service_header{
    color: rgba(255, 255, 255, 1);
    
}

.consalting_header_line,
.other_service_header_line{
  width: 250px;
  
  margin-top: 36px;
  margin-bottom: 49px;
}
.consalting_header_line{
    border: 2px solid rgba(157, 15, 15, 1);
}
.other_service_header_line{
    border: 2px solid rgba(255, 255, 255, 1)
}
.text_in_service p, 
.text_in_service ul,
.text_in_service li{
    font-family: "Kodchasan", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.1em;
    text-align: left;
    

}
.text_in_service li{
  margin-left: 30px;
}

.consulting_link, .other_link{
    font-family: "Kodchasan", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-align: left;
    
    

}
.consulting_link{
    color: rgba(157, 15, 15, 1);  
    display: block;
    text-align: right;
    margin-top: 15px;
    transition: 0.3s linear
}
.consulting_link:hover{
  transform: scale(1.1);
}

.other_link{
    color: rgba(255, 255, 255, 1);
    display: block;
    text-align: right;
    margin-top: 346px;
    transition: 0.3s linear

}
.other_link:hover{
  transform: scale(1.1);
}
.consulting {
    background: rgba(248, 248, 255, 1);
    
    
}
.other_service{
    background: rgba(43, 61, 145, 1);

}

.consulting, .other_service{
    max-width: 635px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.15);
    padding: 37px 60px;
}


.services_block {
    margin-top: 73px;
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    width: 100%;
    margin: 73px auto;
}
.other{
    color: rgba(255, 255, 255, 1);

}
span {
    display: inline-block;
    vertical-align: middle;
}
.block_animation{
    transform: translateX(-150%);
    animation: ani2 1s forwards;
}
@keyframes ani2 {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .block_animation1{
    transform: translateX(150%);
    animation: ani3 1s forwards;
}
@keyframes ani3 {
    0% {
      transform: translateX(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
.about_us_block{
    display: flex;
    justify-content: space-between;
    padding: 100px 90px;
    max-width:1920px;
    width: 100%;
    margin: 0 auto;
}
.about_us_container {
    
   
    
    background: rgba(252, 250, 249, 1);
    

}
.about_us_info{
    width: 50%;
    margin: auto 0;
    order: 2;
}
.about_us_info p
{
    font-family: "Kodchasan", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 42.5px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 53px;

}

.about_us_link{
    width: 388px;
    height: 73px;
    border-radius: 35px;
    border: 2px solid rgba(157, 15, 15, 1);
    margin-top: 89px;

}
.about_us_link:hover{
  background: rgba(157, 15, 15, 1);
  
}
.about_us_link a:hover{
  color: rgba(252, 250, 249, 1);
}

.about_us_link a{
     color: rgba(0, 0, 0, 1);
     width: 388px;
     padding-top: 7px;
    
}
.why_choose_us{
  max-width: 1920px;
  width: 100%;
  margin: auto;
  padding:  150px 0px 150px 90px;
}
.footer_logo img{
  max-width: 608px;
    width: 100%;
}
.footer_logo{
  display: block;
  margin: auto 0;
  max-width: 890px;
  width: 100%;
}
footer{
  background: rgba(248, 248, 255, 1);
  display: block;
  margin: auto;
  padding-bottom: 36px;

}
.footer_container{
  max-width:1920px;
  width: 100%;
  margin: auto;
  padding: 46px 100px 65px 100px;
  display: flex;
  justify-content: space-between;
}
.site_map_footer h4,
.contact_footer h4{
  font-family: "Kodchasan", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 32.5px;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  
  
}
.site_map_footer,
.contact_footer{
  display: flex;
  flex-direction: column;
}
.site_map_footer a,
.contact_footer a,
.contact_footer p{
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin-top: 26px;


}
.site_map_footer a:hover{
  color: rgba(157, 15, 15, 1);
}


.tel{
  pointer-events: none;
  cursor: default;
}
.shadow {
  background-color: rgba(0, 0, 0, 0.8);

  opacity: 0.7;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
    
}
.services_container{
  max-width:1920px;
  width: 100%;
  margin: auto;
  padding: 90px 100px 0 100px;
}
.services_menu{
  max-width: 523px;
  width: 100%;
  height: 100px;
  border-radius: 50px;
  background: rgba(43, 61, 145, 1);
  margin: auto;
  display: flex;
  justify-content: space-between;
  

}
.services_menu_item1{
  width: 269px;
  height: 83px;
  border-radius: 60px;
  background: rgba(248, 248, 255, 1);
  
  display: block;
  margin: auto 0;
  position: relative;

  left: 8px;
  padding: 23px 23px 23px 0px;
}
.services_menu_item1 p,
.services_menu_item2 p{
  font-family: "Kodchasan", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: 0.1em;
  
  
}
.services_menu_item1 p{
  color: rgba(0, 0, 0, 1);
  text-align: center;
}
.services_menu_item2 p{
  color: rgba(255, 255, 255, 1);
  margin: auto;
  text-align: center;
  
}

.services_menu_item1 p::before{
  content: "";
  width: 22px;
  height: 18px;
  background-image: url(../img/check_mark.svg);
  background-repeat: no-repeat;
  background-size: 22px 18px;
  display: inline-block;
  margin-right: 15px;


}
#services_menu_item1_p.style::before{
  content: "";
  width: 22px;
  height: 18px;
  background-image: url(../img/check_mark_white.svg);
  background-repeat: no-repeat;
  background-size: 22px 18px;
  display: inline-block;
  margin-right: 15px;


}

.services_menu_item2{
  width: 240px;
  padding: 23px 23px 23px 5px;
  margin: auto 0;
  display: block;
}
.cloud1{
  width: 240px;
  padding: 23px 5px 23px 23px;
  margin: auto 0;
  display: block;
}
.service_menu_hover1{
  width: 240px;
  padding: 23px 23px 23px 5px;
  margin: auto 0;
  display: block;
  left: 18px;
  background: rgba(43, 61, 145, 1);

}
.service_menu_hover{
  width: 269px;
  height: 83px;
  border-radius: 60px;
  background: rgba(248, 248, 255, 1);
    display: block;
  margin: auto 0;
  position: relative;
  left: -8px;
  padding: 23px 23px 23px 27px;
 }
 .service_menu_hover2{
  width: 269px;
  height: 83px;
  border-radius: 60px;
  background: rgba(248, 248, 255, 1);
    display: block;
  margin: auto 0;
  position: relative;
  left: 7px;
  padding: 23px 23px 23px 27px;
 }
 .service_menu_hover3{
  width: 240px;
  padding: 23px 23px 23px 5px;
  margin: auto 0;
  display: block;
  left: 18px;
  background: rgba(43, 61, 145, 1);

}

.service_block_one,
.service_block_two
{
  margin: auto;
 

}

.box {
  margin: auto;
  padding: 0 100px;
}

.step_block_1{
  max-width: 1157px;
  width: 100%;
  margin: auto 0;
}
.step1,
.step2,
.step3{
  display: none;
  padding: 0 100px 0 100px
  
}
.load_btn{
  border: none;

}
.load_btn::after{
  content: "";
  width: 30px;
  height: 17px;
  background-image: url(../img/arrow_down.svg);
  background-repeat: no-repeat;
  background-size: 30px 17px;
  display: inline-block;
  margin-left: 29px;
}
.load_btn.up::after{
  content: "";
  width: 30px;
  height: 17px;
  background-image: url(../img/Arrow_up.svg);
  background-repeat: no-repeat;
  background-size: 30px 17px;
  display: inline-block;
  margin-left: 29px;
}

.step_block_1_line{
  width: 326px;
  border: 2px solid rgba(157, 15, 15, 1);
  margin-top: 36px;
  margin-bottom: 41px;


}
.step1.padding,
.step2.padding,
.step3.padding{
  padding: 0;
}
 

.step_block_2{
  max-width: 1920px;
  width: 100%;
  margin: 78px auto;
  display: flex;
  justify-content: space-between;
}
.step_block_2_img{
   margin: auto 60px;
   order: 1;
 
}

.step_block_2_info{
  max-width: 870px;
  width: 100%;
  margin: auto 0;
  order: 2;
}

.step_block_2_txt li:nth-child(1){
  margin-top: 30px;

}
.step_block_2_txt li{

  margin-left: 40px;
}
.step_block_3{
  max-width: 1920px;
  width: 100%;
  margin: 89px auto;
}
.step_block_3_info{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.step_block_2_img img{
  display: block;
  margin: auto;
}

.step_block_3_info div{
  max-width: 550px;
  width: 100%;
  height: 388px;
  border-radius: 20px;
  box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.15);
  padding: 40px 55px;
  margin: auto 0;
}
.step_block_3_info div:nth-child(1){
  background: rgba(248, 248, 255, 1);

}
.step_block_3_info div:nth-child(2){
  background: rgba(43, 61, 145, 1);
  color: rgba(255, 255, 255, 1);
  margin-right: 38px;
  margin-left: 38px;

}
.step_block_3_info div:nth-child(3){
  background: rgba(157, 15, 15, 1);
  color: rgba(255, 255, 255, 1);

}
.service_block_two .service_block_button .load_btn::after{
  content: "";
  width: 30px;
  height: 17px;
  background-image: url(../img/Arrow_down_blue.svg);
  background-repeat: no-repeat;
  background-size: 30px 17px;
  display: inline-block;
  margin-left: 29px;
}
.service_block_two .service_block_button .load_btn.up::after{
  content: "";
  width: 30px;
  height: 17px;
  background-image: url(../img/Arrow_up_blue.svg);
  background-repeat: no-repeat;
  background-size: 30px 17px;
  display: inline-block;
  margin-left: 29px;
}
.container_block_two{
  max-width: 1157px;
   width: 100%;
   display: flex;
   flex-direction: column;
   
}
.service_block_two_container{
  background: rgba(249, 249, 252, 1);

}
.service_block_button_center{
  max-width: 1720px;
  width: 100%;
  margin: auto;
}

#bottom_menu1{
  background: rgba(249, 249, 252, 1);
  
  display: flex;
  justify-content: left;
  margin: auto;
  padding-bottom: 160px; 
  padding-top: 160px;
  padding-left: 33.2%
} 
#bottom_menu,
#bottom_menu2{
  display: flex;
  max-width: 1720px;
  width: 100%;
  margin-bottom: 160px; 
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  
  
 
}
.bottom_menu{
  margin-bottom: 49px !important;
}
.bottom_menu1{
  padding-bottom: 49px !important;
}
.description_security_consalting,
.description_security_network_consalting{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.step2_right{
  display: flex;
  justify-content: left;
    padding-left: 33.2%;
}
.description_security_network_consalting .step_block_2 .step_block_2_img{
  order: 1;
}
.up_page_arrow{
  font-size: 0;
    line-height: 0;
    z-index: 2;
    position: relative;
    padding: 0;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 2px solid rgba(157, 15, 15, 1);
    border-radius: 30px;
    top: -30px;
    color: transparent;
   
    outline: none;
    background: transparent;
}
.up_page_arrow::before{
  content: '';
    width: 20px;
    height: 20px;
    border-top: 3px solid;
    border-right: 3px solid;
       display: block;
    color: rgba(157, 15, 15, 1);
    position: relative;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 18px;
    top: 23px;
}
.up_page{
  max-width: 1920px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: right;
  padding: 0 50px;
  z-index: 1;
  position: relative;
}

.up_page_arrow:hover{
background:rgba(157, 15, 15, 1);
transform: scale(0.95);
}
.up_page_arrow:hover::before{
  color: rgba(255, 255, 255, 1);
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu_item u{
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: rgba(157, 15, 15, 1)
}
.menu_item u:hover{
  color: rgba(157, 15, 15, 1);
}

.cloud{
  left: -7px;
}
.contact_info_header,
.success_text{
  font-family: "Kodchasan", sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 82.5px;
  letter-spacing: 0.25em;
  
  color: rgba(43, 61, 145, 1);
  

}
.contact_info_header{
  text-align: left;
}
.contact_info_header span{
  color: rgba(157, 15, 15, 1);


}
.contact_container{
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  margin: auto;
  padding: 120px 140px;
}
.contact_info_item a{
  font-family: "Kodchasan", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 42.5px;
  letter-spacing: 0.1em;
  text-align: left;
  color:rgba(0, 0, 0, 1);
  margin-left: 30px;

  
}
.contact_info_item{
  margin-top: 56px;
  display: flex;
}
.contact_info{
  margin: auto 0;
    max-width: 660px;
    width: 100%;
}
.contact_phone{
  cursor: none;
  pointer-events: none;
}
.contact_form_header{
  font-family: "Kodchasan", sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 52.5px;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;


}
.contact_form{
 max-width: 850px;
 width: 100%;
  height: 854px;
  border-radius: 20px;
  background: rgba(43, 61, 145, 1);
  padding: 44px 57px;
  margin-left: 60px;

}
.contact_form hr{
  width: 300px;
  border: 2px solid rgba(255, 255, 255, 1);
  margin-top: 35px;
  margin-bottom: 60px;

}
.field_contacts input,
#phone{
  max-width: 735px;
  width: 100%;
  height: 53px;
  border-radius: 20px;
  border: 2px solid rgba(249, 249, 252, 1);
  margin-bottom: 45px;
  padding: 0 23px;
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: left;
 
}
#phone{
  padding: 0 0 0 60px;
}
.field_contacts input:hover,
#phone:hover,
.field_contacts textarea:hover{
  border: 2px solid black;
  box-shadow:0 0 20px white;
 /* box-shadow: 0 0 20px white;*/
}
.button_for_contacts:hover{
  background-color: rgba(248, 248, 255, 1);
  color:  rgba(43, 61, 145, 1);
  box-shadow: none !important;
  border: none;
}


input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=tel]::placeholder,
textarea[type=text]::placeholder
{
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgba(148, 154, 157, 1);


}
.field_contacts textarea{
  max-width: 735px;
  width: 100%;
  height: 176px;
  border-radius: 20px;
  background: rgba(248, 248, 255, 1);
  padding: 18px 23px;
  margin-bottom: 50px;
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;


}
.button_for_contacts{
  max-width: 306px !important;
  width: 100%;
  height: 73px !important;
  border-radius: 30px !important;
  border: 2px solid rgba(255, 255, 255, 1);
  background: rgba(43, 61, 145, 1);
  margin: auto;
  display: block;
  color: rgba(255, 255, 255, 1);
  text-align: center !important;
  

}
.button_for_contacts:hover{
  border: 2px solid rgba(255, 255, 255, 1) !important;
  transform: scale(0.98);
}
.success{
  max-width: 1920px;
  width: 100%;
  margin: auto;
  padding: 100px 100px;
}
.success_text{
  text-align: center;
}
.success_back{
  color: rgba(157, 15, 15, 1);
  text-align: center;
  font-family: "Kodchasan", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  display: block;
  margin-top: 50px;
}
.success_back u{
  text-decoration: underline;
  text-underline-offset: 20px;
}  

/*style for intTel*/
.iti {
  display: block !important;
  margin-bottom: 45px;
}
.iti .iti__selected-dial-code{
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
}
.iti__country-name,
.iti__dial-code{
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
/*end of style for intTel*/

.hide{
  display: none;
}

.error{
  box-shadow:0 0 20px rgba(157, 15, 15, 1);
 

}
.tel_error{
  text-align: center;
  display: block;
  margin-bottom: 17px;
  margin-top: -27px;
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 1);
}
.copyright{
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1920px;
  width: 100%;
  padding: 0 100px;

}
.copyright p,
.copyright p a{
  font-family: 'Kodchasan', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 19.5px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
    text-align: center;
    color: rgba(0, 0, 0, 1);
  display: flex;
 
}
.copyright p a{
  display: flex;
  margin-left: 5px;
}
.copyright a span{
  font-family: 'Kodchasan', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
  color: rgba(0, 0, 0, 1);


}
.copyright a:hover{
  background: linear-gradient(75deg, rgba(247, 62, 148, 1), rgba(34, 220, 217, 1));
  -webkit-background-clip: text;
  font-weight: 400;
  -webkit-text-fill-color: transparent;

}
.main_content_slider{
  max-width:1025px;
  width: 100%;
  display: none;
   margin: auto;
   padding: 232px 10px 130px 0px;
}
.about_us_block img{
  max-width: 794px;
  width: 100%;
  margin: auto 0;
  order: 1;
}
.name img{
  max-width: 448px;
  width: 100%;
  margin: auto 0;
}
.name{
  display: block;
  margin: auto 0;
}
.step_block3_slider1{
  display: none;
}
.step_block3_slider_info{
  font-family: "Kodchasan", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 42.5px;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.map_contact{
  display: flex;
  max-width: 702px;
  width: 100%;
  justify-content: space-between;
}




@media screen and (min-width: 801px) and (max-width: 4000px) {
  #nav_shadow {
    display: none;
  }
  .hamb {
    display: none;
  }
  .nav {
    max-height: 100px;

    width: 60%;
    right: 0;
    height: 100px;
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    background: none;
  }
  .menu_item_name {
    display: none;
  }
}
@media(max-width:1900px){
  .step_block_3_info div{
    height: 408px;
    padding: 30px 20px;
  }
}
@media(max-width:1850px){
  .about_us_block img{
    width: 46%;
  }
  .footer_logo{
    width: 37%;
  }

}
@media(max-width:1700px){
  .step_block_2_img {
    margin: auto 60px auto 0;
}
.step_block_3_info{
  font-size: 22px;
}
.contact_container {
    padding: 100px 100px;
}
.contact_info_header, .success_text{
  font-size: 50px;
}
.contact_info_item a {
  font-size: 24px;
}
}
@media(max-width:1500px){
  .consulting, .other_service{
    width:47%;
    margin-left: 5px;
    margin-right: 5px;
  }
  .appearing_block_header{
  font-size: 52px;
  }
  .appearing_block_txt, 
  .step_block_1_txt, 
  .step_block_2_txt,
  .appearing_block_button, 
  .about_us_link a,
  .about_us_info p{
    font-size: 24px;
  }
  .contant_header, 
  .about_us-info_header, 
  .slider_block h3, 
  .load_btn {
    font-size: 46px;
  }
  .consalting_header, 
  .other_service_header, 
  .step_block_1_header{
    font-size: 33px;
  }
  .text_in_service p, 
  .text_in_service ul, 
  .text_in_service li,
  .site_map_footer a, 
  .contact_footer a, 
  .contact_footer p{
    font-size: 17px;
  }
  .footer_container,
  .copyright{
    padding: 46px 90px;
  }
  #bottom_menu1{
    padding-left: 0;
  }
  .step_block_3_info {
    line-height: 38px;
  }
  .step2_right {
    display: flex;
    justify-content: left;
    padding-left: 0;
  }
  .contact_container {
    padding: 80px 80px;
}
.contact_info_item img{
  width: 6%;
}
.contact_form_header{
  font-size: 30px;
}
.contact_info_item a{
  margin-left: 20px;
}
.contact_form hr {
  width: 274px;
  margin-top: 24px;
}
.contact_info_header, .success_text {
  font-size: 43px;
  line-height: 68.5px;
}
.success_back {
  font-size: 36px;
}


}

@media(max-width:1441px){
  .main_block img {
      max-width: auto;
      height: auto;

  }
  .appearing_block{
    position: relative;
    margin: auto;
    left: 0;

  }
  .slider_block h3{
    text-align: center;
  }
  .step_block3_slider1{
    display: block;
    height: 539px;

  }
  .step_block_3_info{
    display: none;
  }
  #consalting_center_slider1 .slick-slide:nth-child(2),
  #consalting_center_slider2 .slick-slide:nth-child(2),
  #consalting_center_slider3 .slick-slide:nth-child(2)

 {
   background: rgba(43, 61, 145, 1);
  
}
#consalting_center_slider1 .slick-slide:nth-child(4),
#consalting_center_slider1 .slick-slide:nth-child(3),
#consalting_center_slider2 .slick-slide:nth-child(4),
#consalting_center_slider2 .slick-slide:nth-child(3),
#consalting_center_slider3 .slick-slide:nth-child(4),
#consalting_center_slider3 .slick-slide:nth-child(3)
{
  background: rgba(157, 15, 15, 1);
  opacity: 0.8;
}
#consalting_center_slider1 .slick-slide,
#consalting_center_slider2 .slick-slide,
#consalting_center_slider3 .slick-slide
{
  background: rgba(43, 61, 145, 1);
  opacity: 0.8;
}
#consalting_center_slider1 .slick-slide.slick-current.slick-active.slick-center .step_block3_slider_info,
#consalting_center_slider2 .slick-slide.slick-current.slick-active.slick-center .step_block3_slider_info,
#consalting_center_slider3 .slick-slide.slick-current.slick-active.slick-center .step_block3_slider_info{
  color: black;
}
.step_block_1_header,
.step_block_2_header,
.step_block_3_header{
  line-height: 0;
}
.contact_container{
  flex-wrap: wrap;
  justify-content: normal;
}
.contact_form{
  margin: 80px 0;
  max-width: 100vw;
}

.field_contacts input, #phone,
.field_contacts textarea{
  max-width: 100vw;
}
.map_contact {
    width: 53%;
}


}
@media(max-width:1439px){
  .about_us_block{
    flex-direction: column;
  }
  .about_us_info{
    order: 1;
  }
  .about_us_block img{
    order: 2;
    margin: auto;
    width: 90%;
  }
  .about_us-info_header{
    text-align: center;
  }
  .about_us_info {
    width: 81%;
    margin: auto;
  }
  .about_us_link{
    margin: 89px auto;
  }
  .step_block_2{
    flex-wrap: wrap;
    justify-content: normal;
  }
  .step_block_2_img {
    margin: auto;
    width: 90%;
}
.step_block_2_img img {
   width: 100%;
}
.step_block_2_info {
  margin: 78px 0 0 0;
}

  
}

@media(max-width:1300px) {
  .consulting, .other_service{
    padding: 37px 20px;
  }
  #variable .slick-slide.slick-current.slick-active.slick-center{
    width: 600px;
    margin: 15px 20px 0 20px;
    height: 650px;
  }
  .why_choose_us{
    padding: 120px 0;
  }
  .name img {
     width: 80%;
  }
  .copyright{
    flex-direction: column;
    padding: 26px 90px;
  }
  .copyright p{
    margin-bottom: 20px;
  }
  
  #variable .slick-slide,
  #variable .slick-current {
    margin: 15px 20px 0 20px;
    height: 650px;
    width: 600px;
  }
  #variable .slick-slide .slider_txt{
      font-size: 25px;
        line-height: 42.5px;
        letter-spacing: 0.1em;
        text-align: left;
  }
  #variable .slick-list{
    height: 680px;
    padding: 0 100px 0  100px;

  }
  #variable .slick-slide:nth-child(1) {
    background: rgba(43, 61, 145, 1);
    margin: 0 20px;
  }
  #variable .slick-slide:nth-child(2) {
    background: rgba(43, 61, 145, 1)
  }
  #variable .slick-slide:nth-child(3) {
    background: rgba(157, 15, 15, 1);
   
  }
  #variable .slick-slide:nth-child(4) {
    background: rgba(157, 15, 15, 1);
  }
  #variable .slick-slide{
    background: rgba(43, 61, 145, 1);
    padding: 35px 35px;
  }
  .slider_block h3{
    text-align: center;
  }
  #variable .slick-current{
    padding: 35px 35px;
  }
  #variable .slick-slide.slick-current.slick-active.slick-center .slider_txt,
  .step_block3_slider_info{
    font-size: 25px;
    line-height: 42.5px;
    letter-spacing: 0.1em;
    text-align: left;
  }
   .footer_container{
    flex-direction: column;
    
  }
  .footer_logo{
    margin: auto 0 46px 0;
  }
  .site_map_footer{
    width: 40%;
    margin: auto 0;
  }

  #variable .slider_header{
    font-size: 33px;
  }
  .about_us_info {
    width: 92%;
  }
  #bottom_menu, #bottom_menu2,
  #bottom_menu1 {
    margin-left: 0;
    margin-right: 0;
  }
  .copyright p{
    text-align: left;
  }
  .map_contact {
     width: 100%; 
     max-width: 891px;
}
footer{
  padding-bottom: 0;
}
}
@media(max-width:1200px) {
  .nav{
    width:72%;
  }
  .menu_block{
    padding: 40px 30px 40px 60px;
  }
  .menu_item{
    margin: auto 15px;
  }
  .about_us_info {
    width: 98%;
  }

}

@media(max-width:1150px){
  .footer_container {
   padding: 46px 28px;
    }
    .copyright{
      padding: 26px 38px;
    }
    .load_btn{
      letter-spacing: 0.2em;

    }
    .load_btn {
      font-size: 39px;
      text-align: left;
      line-height: 50px;
  }
}
@media(max-width:1091px){
  .other_link {
    margin-top: 398px;
  }
}

@media(max-width:1025px){
  .contact_footer{
    width: 53%;
  }
  .main_content_slider{
    display: block;
  }
  .main_content{
    display: none;
  }
  .about_us_info {
    width: 95%;
  }

}
@media(max-width:1000px) {
  .appearing_block_header {
    font-size: 50px;
  }
  .appearing_block_txt, 
  .step_block_1_txt, 
  .step_block_2_txt, 
  .step_block_3_info, 
  .appearing_block_button, 
  .about_us_link a,
  .about_us_info p  {
    font-size: 23px;
  }
  .appearing_block_button{
    width:378px;
  }
  .contant_header, 
  .about_us-info_header, 
  .slider_block h3 {
    font-size: 45px;
  }
  .about_us_info p{
    font-size: 24px;
  }
  #variable .slider_header {
    font-size: 32px;
  }
  #variable .slider_txt{
    font-size: 23px;
  }
  #variable .slick-slide.slick-current.slick-active.slick-center{
    height: 610px;
    
  }
  #variable .slick-slide{
    height: 610px;
    opacity: 0.7;
  }
  .why_choose_us {
    padding: 100px 0;
  }
 
  .nav {
    width: 80%;
  }
  .appearing_block{
    width: 83%;
    padding: 60px 60px;
  }
  .menu_item{
    font-size: 16px;
  }
  #bottom_menu, #bottom_menu2,
  #bottom_menu1 {
    width: 50%
    
  }
  .tel,
  .contact_phone {
    pointer-events:visible;
    cursor: pointer;
}
.success_text {
  font-size: 37px;
  line-height: 57.5px;
}
.success_back {
  font-size: 25px;
}

}
@media(max-width:900px){
  .nav {
    width: 105%;
  }
  .menu_item {
    margin: auto 10px;  
  }
  .menu_item {
    font-size: 15px;
  }
  .appearing_block_header {
    font-size: 46px;
    line-height: 70px;
  }
  .appearing_block_txt, 
  .step_block_1_txt, 
  .step_block_2_txt, 
  .step_block_3_info, 
  .appearing_block_button, 
  .about_us_link a,
  .about_us_info p,
  .step_block3_slider_info  {
    font-size: 21px;
  }
  .appearing_block_button {
    width: 350px;
  }
  .contant_header, 
  .about_us-info_header, 
  .slider_block h3 {
    font-size: 43px;
  }
  .about_us_link,
  .about_us_link a  {
    width: 350px;
  }
  .about_us_block img {
    width: 100%;
  }
  #bottom_menu, #bottom_menu2, #bottom_menu1 {
    width: 58%;
}
.success_text {
  font-size: 34px;
  line-height: 55.5px;
}
.success_back {
  font-size: 23px;
}

}


@media(max-width:800px) {
  .menu_items {
    display: flex;
    flex-direction: column;
    margin-top: 190px;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .side-menu:checked~nav {
  /*   max-height: 100vh;*/
  height: 100vh;
  }
  .menu_item {
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 18px;
      text-align: left;
      margin-left: 32px;

  }
  .menu_item_name img{
    width: 208px;
    margin-bottom: 15px;
  }

  .site_map_footer{
    display: none;
  }
  .footer_container {
    justify-content: normal;
    padding: 46px 40px 5px 40px;
  }
  .contact_footer {
    margin: auto 0;
  } 
  .contact_footer h4,
  .contact_footer p,
  .contact_footer a{
    text-align: left;
  }
 
  .footer_logo {
    margin: auto 0 25px 0;
  }
  .contact_footer h4{
    display: none;
  }
  .contact_footer {
    width: 60%;
  }
  .nav{
    width: 268px;
  }
  .menu_item{
    text-align: left;
  }
  .menu_block {
    height: 165px;
  }
  #bottom_menu, 
  #bottom_menu2
  {
    margin-bottom: 100px;
    margin-top: 100px;
    width: 55%;
  }
  #bottom_menu1{
    width: 72%;
  }
  .services_menu_item1 p, 
  .services_menu_item2 p{
    font-size: 17px;
  }
  .services_menu {
    width: 343px;
  }
  .service_menu_hover1{
    width: 210px;
    padding: 0;
    margin-right: 30px;
    
 
  }
  .service_menu_hover3{
    width: 210px;
    padding: 0;
    margin-left: 30px;
    
 
  }
  .service_menu_hover 
    {
      width: 180px;
      padding: 8px;
      height: 52px;
     
     } 
     .service_menu_hover2
  {
    width: 240px;
    padding: 8px;
    height: 52px;
    
    
   }
   .services_menu_item1,
   .services_menu_item2{
    padding: 8px
   }
   .services_menu_item1 p::before{
    margin-right: 9px;
    width: 16px;
    height: 12px;
    background-size: 16px 12px;
   }
   #services_menu_item1_p.style::before{
    width: 16px;
    height: 12px;
    background-size: 16px 12px;
    
   }
   .services_menu_item1 {
    width: 240px;
   }
   .services_menu{

    height: 66px;
   }
   .services_menu_item1 {
    height: 52px;
   }
   .services_container{
    padding: 0;
    margin: 50px auto;

   }
   .load_btn::after,
   .service_block_two .service_block_button .load_btn::after,
   .load_btn.up::after,
   .service_block_two .service_block_button .load_btn.up::after {
    width: 25px;
    height: 12px;
    background-size: 25px 12px;
    margin-left: 18px;
    }
    .step1, .step2, .step3,
    .box {
     padding: 0 40px 0 40px;
  }
  #consalting_center_slider1 .slick-slide,
  #consalting_center_slider2 .slick-slide,
  #consalting_center_slider3 .slick-slide
   {
    width: 473px;
}
.contact_info_header{
  line-height: 50px;
}
.success_back{
  margin-top: 25px;
  margin-bottom: 34px;
}
.success_text{
  line-height: 36px;
}

.contact_info_item a {
  margin-left: 18px;
}
.contact_info_item img {
  width: 5%;
}
.contact_container {
  padding: 60px 60px;
}
.contact_info_item {
  margin-top: 40px;
}
.contact_form{
  padding: 30px 40px;
}
.contact_info_header, .success_text {
  font-size: 32px;
}
.contact_container {
  padding: 50px 50px;
}
.contact_info_item a {
  font-size: 20px;
}
.contact_info_item {
  margin-top: 35px;
}
.contact_form {
  margin: 50px 0;
}
.success_back u {
  text-underline-offset: 14px;
}
.site_map_footer a, 
.contact_footer a, 
.contact_footer p {
  margin-top: 14px;
}

}

 
 

@media(max-width:769px){
    .appearing_block {
      position: unset;
      width: 100%;
    }
    .main_content_slider{
      padding: 100px 10px 180px 0px;

    }
  
    .regular .slick-slide:nth-child(1n){
      margin: 0px 18px 0 40px;
      width: 5.8% !important;

    }
    #regular.slider {
      margin: 70px 0 100px 50px;
    }
    #regular .slick-slide.slick-current.slick-active {
      margin: 20px 20px 0 100px;
  
  }
  .appearing_block_header {
    font-size: 44px;
    line-height: 60px;
  }
  .contant_header, 
  .about_us-info_header, 
  .slider_block h3{
    font-size: 38px;
  }
  .appearing_block_txt, 
  .step_block_1_txt, 
  .step_block_2_txt, 
  .step_block_3_info, 
  .appearing_block_button, 
  .about_us_link a,
  .about_us_info p  {
    font-size: 19px;
  }
  .main_content_slider {
    padding: 80px 10px 30px 0px;
  }
  #variable .slider_header {
    font-size: 30px;
  }
  #variable .slick-slide.slick-current.slick-active.slick-center .slider_txt,
  .step_block3_slider_info {
    font-size: 19px;
  }
  #variable .slick-slide .slider_txt {
    font-size: 19px;
  }
  #variable .slick-slide.slick-current.slick-active.slick-center,
  #variable .slick-slide {
    height: 520px;
  }
  #variable .slick-slide.slick-current.slick-active.slick-center,
  #variable .slick-slide {
    width: 531px !important;
  }
  #variable .slick-list {
    height: 554px;
  }
  .contact_footer {
    width: 100%;
  }
  .consalting_header, .other_service_header, .step_block_1_header {
    font-size: 31px;
  }
  #bottom_menu2{
    width: 58%;
  }
  #consalting_center_slider1 .slick-slide,
  #consalting_center_slider2 .slick-slide,
  #consalting_center_slider3 .slick-slide
   {
    margin: 0px 30px 0 0;
}
.success_text {
  font-size: 28px;
}
.success_back {
  font-size: 21px;
}
.success{
  padding: 60px;
}
}
@media(max-width:700px){
    #variable .slick-slide.slick-current.slick-active.slick-center,
    #variable .slick-slide {
      width: 400px !important;
  }
  .regular .slick-slide:nth-child(1n) {
    width: 5% !important;
  }
  .appearing_block_header {
    font-size: 42px;
    line-height: 55px;
  }
  .appearing_block {
    padding: 55px 55px;
  }
  .about_us_block {
    padding: 100px 55px;
  }
  #variable .slider_header {
    font-size: 22px;
  }
  #variable .slick-slide.slick-current.slick-active.slick-center .slider_txt,
  #variable .slick-slide .slider_txt,
  .step_block3_slider_info{
    line-height: 38px;
    font-size: 18px;
  }
  #bottom_menu, 
  #bottom_menu1, 
  #bottom_menu1 {
      width: 79%;
  }
  #consalting_center_slider1 .slick-slide,
  #consalting_center_slider2 .slick-slide,
  #consalting_center_slider3 .slick-slide
   {
    width: 436px;
    height: 361px;
}
#consalting_center_slider1 .slick-list,
#consalting_center_slider2 .slick-list,
#consalting_center_slider3 .slick-list{
  height: 450px;
}
#consalting_center_slider1 .slick-slide,
#consalting_center_slider2 .slick-slide,
#consalting_center_slider3 .slick-slide
 {
  padding: 30px;
}
.contact_info_item a {
  margin-left: 15px;
}
.contact_info_header {
  font-size: 30px;
}
.success_text {
  font-size: 24px;
}
.success_back {
  font-size: 19px;
}
.success {
  padding: 30px;
}

}
@media(max-width:650px){
  .regular .slick-slide:nth-child(1n) {
    width: 4.4% !important;
}
#variable .slick-slide.slick-current.slick-active.slick-center,
#variable .slick-slide  {
  width: 370px !important;
}
.appearing_block_header {
  font-size: 40px;
  line-height: 50px;
}
.appearing_block_txt, .step_block_1_txt, .step_block_2_txt, .step_block_3_info, .appearing_block_button, .about_us_link a, .about_us_info p {
  font-size: 18px;
}
.appearing_block_button,
.about_us_link, .about_us_link a {
  width: 320px;
}
.contant_header, 
.about_us-info_header, 
.slider_block h3, 
.load_btn {
  font-size: 36px;
}
#variable .slick-slide.slick-current.slick-active.slick-center {
  margin: 15px 15px 0 15px;
}
#variable .slick-current,
#variable .slick-slide {
  padding: 30px 30px;
}
#variable .slider_header {
  font-size: 21px;
}
#variable .slick-slide.slick-current.slick-active.slick-center .slider_txt,
#variable .slick-slide .slider_txt,
.step_block3_slider_info {
  line-height: 34px;
  font-size: 17px;
}
.consalting_header, 
.other_service_header, 
.step_block_1_header {
  font-size: 26px;
}
.appearing_block_header {
  font-size: 38px;
  line-height: 48px;
}
.appearing_block hr {
  width: 250px;
  margin-top: 11px;
  margin-bottom: 30px;
}
.name img {
  width: 56%;
}
.menu_block {
  height: 124px;
}
.hamb {
  padding: 17px 38px 37px 38px;
}
#bottom_menu, 
#bottom_menu1, 
#bottom_menu1 {
  width: 81%;
}
#bottom_menu2 {
  width: 67%;
}
#consalting_center_slider1 .slick-slide,
#consalting_center_slider2 .slick-slide,
#consalting_center_slider3 .slick-slide
 {
  width: 404px;
  height: 310px;
}
#consalting_center_slider1 .slick-list,
#consalting_center_slider2 .slick-list,
#consalting_center_slider3 .slick-list {
  height: 379px;
}



.step_block_1_line,.step_block_2_line,
.step_block_3_line
 {
  width: 240px;
}
.step_block_2 {
  margin: 30px auto;
}
.step_block_2_info {
  margin: 35px 0 0 0;
}
.step_block_3 {
 margin: 60px auto;

}
#bottom_menu, #bottom_menu2 {
  margin-top: 60px;
}
.step_block3_slider1 {
    height: 413px;
}
.contact_container {
  padding: 40px 40px;
}
.contact_info_item a {
  font-size: 17px;
  line-height: 22.5px;
}

.contact_form_header {
  font-size: 22px;
}
.contact_form hr {
  width: 210px;
  margin-top: 15px;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=tel]::placeholder,
textarea[type=text]::placeholder
{

  font-size: 13px;
  line-height: 20px;
  
}
.footer_logo {
  width: 200px;
}
}
@media(max-width:560px){
  .appearing_block_header {
    font-size: 34px;
    line-height: 45px;
}
.appearing_block {
  padding: 35px 35px;
}
.appearing_block_txt, 
.step_block_1_txt, 
.step_block_2_txt, 
.step_block_3_info, 
.appearing_block_button, 
.about_us_link a, 
.about_us_info p{
  font-size: 18px;
  line-height: 35px;
}

#regular.slider {
  margin: 40px 0 80px 30px;
}.regular .slick-slide:nth-child(1n) {
  width: 4.1% !important;
}
.consalting_header, 
.other_service_header, 
.step_block_1_header {
  font-size: 24px;
}
#regular .slick-current .slider_line,
#regular .slider_line {
  width: 200px;
  margin-top: 6px;
  
  margin-bottom: 30px;
}
#regular .slick-slide{
  padding: 30px 35px;
}
#regular .slick-current,
#regular .slick-slide {
  height: 630px;
}
#regular.slider{
  height: 644px;
}
.about_us_block {
  padding: 60px 35px;
}
.appearing_block_button, 
.about_us_link a,
.about_us_link{
  height: 64px;
  width: 300px;
}
.why_choose_us {
  padding: 60px 0;
}
#variable .slick-slide.slick-current.slick-active.slick-center, 
#variable .slick-slide {
  width: 350px !important;
}
#variable .slider_header {
  font-size: 20px;
}
#variable .slick-current .slider_line
#variable .slider_line {
  width: 150px;
  margin-top: 6px;
  margin-bottom: 30px;
}
#bottom_menu, #bottom_menu1, #bottom_menu1 {
  width: 86%;
}
.tel_error {
  font-size: 13px;
  margin-top: -15px;
}
.field_contacts input, #phone{
  font-size: 13px;
  height: 45px;
}
.iti .iti__selected-dial-code{
  font-size: 13px;
}


}
@media(max-width:500px){
  .appearing_block_header {
    font-size: 28px;
    line-height: 42px;
  }
  .appearing_block hr {
    width: 200px;
    margin-top: 11px;
    margin-bottom: 30px;
  }
  .appearing_block_txt, 
  .step_block_1_txt, 
  .step_block_2_txt, 
  .step_block_3_info, 
  .appearing_block_button, 
  .about_us_link a, 
  .about_us_info p {
    font-size: 17px;
    line-height: 28px;
  }
  .appearing_block_button {
    margin-top: 35px;
  }
  .appearing_block_button, 
  .about_us_link a, 
  .about_us_link {
    height: 59px;
    width: 266px;
    margin-bottom:20px;
  }
  .main_content_slider {
    padding: 74px 10px 20px 0px;
  }
  .regular .slick-slide:nth-child(1n) {
    width: 3% !important;
  }
  #regular .slick-slide.slick-current.slick-active {
    margin: 10px 10px 0 85px;
  }
  #regular .slick-slide {
    padding: 29px 30px;
  }
  .consalting_header, 
  .other_service_header, 
  .step_block_1_header {
    font-size: 20px;
  }
  .text_in_service p, 
  .text_in_service ul, 
  .text_in_service li, 
  .site_map_footer a, 
  .contact_footer a, 
  .contact_footer p {
    font-size: 14px;
    line-height: 21px
  }
  #regular .slick-slide {
    margin: 10px 10px 0 10px;
  }
  #regular .slick-list {
    height: 650px;
  }
  .contant_header, 
  .about_us-info_header, 
  .slider_block h3, 
  .load_btn {
    font-size: 28px;
  }
  .about_us_info p {
    margin-top: 20px;
  }
  .about_us_link {
    margin: 32px auto;
  }
  .about_us_link a {
  
    padding-top: 11px;
  }
  .why_choose_us {
    padding: 40px 0;
  }
  #variable.slider {
    margin: 30px 0 0 0;
  }
  #variable .slick-current .slider_line,
  #variable .slider_line {
    width: 200px;
    margin-top: 6px;
    margin-bottom: 20px;


  }
  #variable .slick-slide.slick-current.slick-active.slick-center,
  #variable .slick-slide {
    width: 250px !important;
  }
  #variable .slick-current .slider_line, 
  #variable .slider_line {
    width: 100px
  }
  #variable .slick-current, 
  #variable .slick-slide {
    padding: 24px 30px;
  }
  #variable .slider_header {
    font-size: 17px;
    line-height: 26px;
  }
  #variable .slick-slide.slick-current.slick-active.slick-center .slider_txt, 
  #variable .slick-slide .slider_txt {
    line-height: 22px;
    font-size: 13px;
  }
  #variable .slick-slide.slick-current.slick-active.slick-center, #variable .slick-slide {
    height: 375px;
  }
  #variable .slick-list {
    height: 415px;
  }
  .up_page_arrow{
    width: 40px;
    height: 40px;
  }
  .up_page_arrow::before {
    width: 12px;
    height: 12px;
    left: 12px;
    top: 15px;
  }
  .up_page{
    padding: 0 20px;
  }
  .appearing_block {
    padding: 20px 20px;
  }
  .menu_block {
    padding: 40px 30px 40px 30px;
  }
  #bottom_menu1 {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  #bottom_menu, #bottom_menu2 {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  #bottom_menu{
    margin-bottom: 80px;
    width:77%
  }

  #bottom_menu2{
    margin-bottom: 80px;
  margin-top: 80px;
  }
  #bottom_menu, #bottom_menu1 {
    width: 82%;
  }
  .load_btn{
    line-height: 44px;
  }
  #bottom_menu2 {
    width: 65%;
  }

  .service_block_button.cloud4{
    width: 65%;
  }
  #consalting_center_slider1 .slick-slide,
  #consalting_center_slider2 .slick-slide,
  #consalting_center_slider3 .slick-slide {
    width: 350px;
    
  }
  .step_block_1_line, 
  .step_block_2_line, 
  .step_block_3_line {
    width: 177px;
    margin-bottom: 18px;
    margin-top: 20px;
}
.contact_info_header {
  font-size: 28px;
  line-height: 44px;
}
.success_back {
  font-size: 18px;
}
.success_text {
  font-size: 21px;
  line-height: 44px;
}
.contact_info_item a {
  font-size: 15px;
}
.contact_container {
  padding: 30px 30px;
}
.contact_info_item {
  margin-top: 30px;
}
.contact_form_header {
  font-size: 17px;
}
.contact_form hr {
  width: 164px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.field_contacts input, #phone {
  margin-bottom: 30px;
}
.iti {
  margin-bottom: 30px;
}

.contact_form{
  height: 810px;
}
.copyright p, .copyright p a,
.copyright a span{
  font-size: 13px;
}
.copyright p {
  margin-bottom: 17px;
}



}
@media(max-width: 430px){
  .step_block3_slider_info{
    font-size: 15px;
    line-height: 27px;
  }
  #consalting_center_slider1 .slick-slide,
  #consalting_center_slider2 .slick-slide,
  #consalting_center_slider3 .slick-slide {
    width: 340px;
}
#consalting_center_slider1 .slick-slide,
#consalting_center_slider2 .slick-slide,
#consalting_center_slider3 .slick-slide {
  padding: 20px 25px;
}
#consalting_center_slider1 .slick-slide,
#consalting_center_slider2 .slick-slide,
#consalting_center_slider3 .slick-slide
 {
  width: 280px;
}
#consalting_center_slider1 .slick-list,
#consalting_center_slider2 .slick-list,
#consalting_center_slider3 .slick-list {
  height: 368px;
}
#consalting_center_slider1.slider.slick-initialized.slick-slider.slick-dotted,
#consalting_center_slider2.slider.slick-initialized.slick-slider.slick-dotted,
#consalting_center_slider3.slider.slick-initialized.slick-slider.slick-dotted {
  margin-bottom: 30px;
}
#bottom_menu, #bottom_menu2 {
  margin-top: 30px;
}
.contact_info_header, .success_text {
   line-height: 42px;
}
.tel_error {
  font-size: 12px;
}
.success_text {
  font-size: 20px;
  letter-spacing: 0.1em;
}
.success_back {
  font-size: 15px;
}
.footer_container {
 padding: 46px 30px 5px 30px;
}
.copyright {
  padding: 26px 30px;
}

}
@media(max-width:400px){
  .appearing_block_txt, 
  .step_block_1_txt, 
  .step_block_2_txt, 
  .step_block_3_info, 
  .appearing_block_button, 
  .about_us_link a, 
  .about_us_info p {
    font-size: 15px;
    line-height: 26px;
}
.appearing_block_button, 
.about_us_link a, 
.about_us_link {
  height: 45px;
  width: 250px;
}
.appearing_block_button{
  padding-top: 8px;
}

.regular .slick-slide:nth-child(1n) {
  width: 2.89% !important;
}
.consalting_header, 
.other_service_header, 
.step_block_1_header {
  font-size: 18px;
}
#regular .slick-current .slider_line, #regular .slider_line {
  width: 180px;
}
.text_in_service p, 
.text_in_service ul, 
.text_in_service li, 
.site_map_footer a, 
.contact_footer a, 
.contact_footer p {
  font-size: 13px;
  line-height: 20px;
}
#regular .slick-current, 
#regular .slick-slide {
  height: 520px;
}
#regular .slick-slide {
  padding: 19px 25px;
}
.main_content_slider {
  padding: 74px 10px 0px 0px;
}
#regular.slider {
  margin: 0px 0 70px 30px;
  height: 528px;
}
.about_us_block {
  padding: 44px 25px;
}
.contant_header, 
.about_us-info_header, 
.slider_block h3, 
.load_btn {
  font-size: 25px;
}
.about_us_link a {
  padding-top: 7px;
}
#variable .slick-slide.slick-current.slick-active.slick-center,
#variable .slick-slide {
  margin: 15px 10px 0 10px;
}
.step_block3_slider_info {
  font-size: 13px;
  line-height: 22px;
}
#consalting_center_slider1 .slick-slide,
#consalting_center_slider2 .slick-slide,
#consalting_center_slider3 .slick-slide {
  width: 210px;
}
.step1, .step2, .step3, .box {
  padding: 0 20px 0 20px;
}
.step_block_1_line, 
.step_block_2_line, 
.step_block_3_line {
  width: 150px;
}
.contact_form {
  padding: 30px 30px;
}
.footer_container {
  padding: 46px 24px 5px 24px;
 }
 .copyright {
   padding: 26px 24px;
 }
}
@media(max-width:375px){
  .appearing_block_header {
    font-size: 24px;
    line-height: 40px;
}

  .appearing_block_txt, 
  .step_block_1_txt, 
  .step_block_2_txt, 
  .step_block_3_info, 
  .appearing_block_button, 
  .about_us_link a, 
  .about_us_info p {
        font-size: 14px;
        line-height: 25px;
    }
    .appearing_block_button {
      width: 230px;
  }
  .main_content_slider {
    padding: 40px 10px 0px 0px;
}
#regular .slick-slide.slick-current.slick-active {
  margin: 10px 10px 0 0px;
}
#regular .slick-slide {
  padding: 19px 20px;
}
.regular .slick-slide:nth-child(1n) {
  width: 2.3% !important;
}
.consalting_header, 
.other_service_header, 
.step_block_1_header {
  font-size: 16px;
}
.text_in_service p, 
.text_in_service ul, 
.text_in_service li, 
.site_map_footer a, 
.contact_footer a, 
.contact_footer p {
  font-size: 12px;
  line-height: 17px;
}
#regular .slick-current .slider_line, 
#regular .slider_line {
  width: 120px;
}
.appearing_block hr {
  width: 169px;
}
.contant_header, 
.about_us-info_header, 
.slider_block h3, 
.load_btn {
  font-size: 23px;
}
.step_block_1_txt, 
.step_block_2_txt, 
.step_block_3_info, 
.appearing_block_button, 
.about_us_link a, 
.about_us_info p {
  font-size: 13px;
  line-height: 23px;
}
.about_us_link a, 
.about_us_link {
  width: 207px;
}
#variable .slick-slide.slick-current.slick-active.slick-center,
 #variable .slick-slide {
  width: 220px !important;
}
#variable .slider_header {
  font-size: 16px;
  line-height: 25px;
}
#variable .slick-current, 
#variable .slick-slide {
  padding: 20px 20px;
}
.footer_container {
  padding: 30px 18px 0 18px;
}
footer{
  padding-bottom: 0px;
}
.footer_logo {
  margin: auto 0;
}
#bottom_menu  {
  width: 93%;
} #bottom_menu1{
  width: 91%;
}
#bottom_menu2{
  width: 69%;
}
.services_menu {
  width: 285px;
}
.services_menu_item1 p, .services_menu_item2 p {
  font-size: 14px;
}
#consalting_center_slider1 .slick-slide,
#consalting_center_slider2 .slick-slide,
#consalting_center_slider3 .slick-slide {
  padding: 20px 23px;
}
#consalting_center_slider1 .slick-slide,
#consalting_center_slider2 .slick-slide,
#consalting_center_slider3 .slick-slide
 {
  margin: 0px 23px 0 0;
}
.contact_info_header {
  font-size: 25px;
  line-height: 37px;

}
.contact_container {
  padding: 22px 22px;
}
.contact_info_item img {
  width: 4.5%;
}
.contact_info_item a {
  margin-left: 10px;
}
.contact_info_item a {
  font-size: 13px;
}
.contact_form {
  padding: 25px 20px;
}
.tel_error{
  line-height: 21px;
}
.contact_form {
  height: 766px;
}
.success {
  padding: 22px;
}
.copyright p, .copyright p a,
.copyright a span {
  font-size: 11px;
}
.copyright {
  padding: 26px 18px;
}
}







