*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

input[type="text"] {
  line-height: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

input {
  outline: 0 !important;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

a {
  text-decoration: none !important;
}
/* Menu Icon */
.hamb {
  cursor: pointer;
  right: 0;
  padding: 37px 38px;
  position: fixed;
  z-index: 3;
}
/* Style label tag */

.hamb-line {
  display: block;
  height: 5px;
  position: relative;
  width: 35px;
  background: rgba(139, 82, 238, 1);
  transform: matrix(1, 0, 0, -1, 0, 0);
  border-radius: 10px;
}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  background: rgba(139, 82, 238, 1);

  transform: matrix(1, 0, 0, -1, 0, 0);
  border-radius: 10px;
}

.hamb-line::before {
  top: 10px;
}

.hamb-line::after {
  top: -11px;
}

.side-menu {
  display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}
/* Nav menu */
.nav {
  overflow: hidden;
  right: 0;
  width: 268px;
  /*height: 845px;*/
  margin-top: 0;
  position: fixed;
  z-index: 2;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  top: 0;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  background: rgba(249, 249, 252, 1);
  
}

.menu_block {
  height: 189px;
  max-width: 1920px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 40px 30px 40px 90px;
}

.main_block {

  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}
.main_block img{
  object-fit: cover;
  object-position: 50% 100%;
  max-width: 4000px;
  height: 930px;
  width: 100%;
}

.header_block {
  display: flex;
  justify-content: space-between;
}
.menu {
  width: 100%;
  display: block;
  position: relative;
  right: 0;
}
.menu_items {
  text-align: end;
  margin-top: 40px;
}
.menu_item {
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0.1em;
  text-align: left;
  margin-right: 60px;
  color: rgba(0, 0, 0, 1);
}
.menu_item:hover{
  font-weight: 600;
  color:rgba(157, 15, 15, 1);
  
}


.top{
  background: rgba(249, 249, 252, 1);

}
.appearing_block_header {
  font-family: "Kodchasan", sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 82.5px;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgba(43, 61, 145, 1);
}
.appearing_block hr {
  border: 2px solid rgba(157, 15, 15, 1);
  width: 424px;
  margin-top: 24px;
  margin-bottom: 70px;
}
.appearing_block_txt,
.step_block_1_txt,
.step_block_2_txt,
.step_block_3_info
 {
  font-family: "Kodchasan", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 42.5px;
  letter-spacing: 0.1em;
  text-align: left;
}
.appearing_block_button, .about_us_link a {
  font-family: "Kodchasan", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.1em;
  height: 73px;
  border-radius: 35px;
  display: block;
  text-align: center;
  
 
}
.appearing_block_button{
    background: rgba(43, 61, 145, 1);
    color: rgba(255, 255, 255, 1); 
    margin-top: 70px;
    padding-top: 12px; 
    width: 409px;
}
.appearing_block_button:hover{
  background: rgba(255, 255, 255, 1);
	color: rgba(43, 61, 145, 1);
	box-shadow: inset 0 0 0 3px rgba(43, 61, 145, 1);
 
}


.appearing_block {
  max-width: 850px;
  width: 100%;
  display: block;
  position: absolute;
  top: 147px;
  left: 147px;
  background: rgba(248, 248, 255, 1);
  padding: 73px 102px;
  transform: translateX(-150%);
  animation: ani 1s forwards;
  border-radius: 20px;
  box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.15);
}
@keyframes ani {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateY(0);
  }
}

.main_content {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 232px 90px 180px 90px;
}
.contant_header,
.about_us-info_header, 
.slider_block h3,
.load_btn   {
  font-family: "Kodchasan", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 0.25em;
  
  color: transparent;
  -webkit-background-clip: text;
}
.contant_header,.about_us-info_header{
  text-align: center;
 
}



.contant_header, 
.slider_block h3,
.load_btn
{
    background-image: linear-gradient(180deg, #ff0b0b 0%, #9d0f0f 100%); 
}
.about_us-info_header,
.service_block_two .service_block_button .load_btn
{
    background-image: linear-gradient(180deg, #0093DD 0%, #2B3D91 100%);
    text-align: left;
}
.consalting_header, 
.other_service_header,
.step_block_1_header {
  font-family: "Kodchasan", sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 52.5px;
  letter-spacing: 0.1em;
  text-align: left;
  
}
.consalting_header,
.step_block_1_header
{
   color: rgba(43, 61, 145, 1); 
}
.other_service_header{
    color: rgba(255, 255, 255, 1);
    
}

.consalting_header_line,
.other_service_header_line{
  width: 250px;
  
  margin-top: 36px;
  margin-bottom: 49px;
}
.consalting_header_line{
    border: 2px solid rgba(157, 15, 15, 1);
}
.other_service_header_line{
    border: 2px solid rgba(255, 255, 255, 1)
}
.text_in_service p, 
.text_in_service ul,
.text_in_service li{
    font-family: "Kodchasan", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.1em;
    text-align: left;

}
.consulting_link, .other_link{
    font-family: "Kodchasan", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-align: left;
    
    

}
.consulting_link{
    color: rgba(157, 15, 15, 1);  
    display: block;
    text-align: right;
    margin-top: 15px;
    transition: 0.3s linear
}
.consulting_link:hover{
  transform: scale(1.1);
}

.other_link{
    color: rgba(255, 255, 255, 1);
    display: block;
    text-align: right;
    margin-top: 346px;
    transition: 0.3s linear

}
.other_link:hover{
  transform: scale(1.1);
}
.consulting {
    background: rgba(248, 248, 255, 1);
    
    
}
.other_service{
    background: rgba(43, 61, 145, 1);

}

.consulting, .other_service{
    max-width: 635px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.15);
    padding: 37px 60px;
}


.services_block {
    margin-top: 73px;
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    width: 100%;
    margin: 73px auto;
}
.other{
    color: rgba(255, 255, 255, 1);

}
span {
    display: inline-block;
    vertical-align: middle;
}
.block_animation{
    transform: translateX(-150%);
    animation: ani2 1s forwards;
}
@keyframes ani2 {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .block_animation1{
    transform: translateX(150%);
    animation: ani3 1s forwards;
}
@keyframes ani3 {
    0% {
      transform: translateX(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
.about_us_block{
    display: flex;
    justify-content: space-between;
    padding: 100px 90px;
    max-width:1920px;
    width: 100%;
    margin: 0 auto;
}
.about_us_container {
    
   
    
    background: rgba(252, 250, 249, 1);
    

}
.about_us_info{
    width: 50%;
    margin: auto 0;
}
.about_us_info p
{
    font-family: "Kodchasan", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 42.5px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 53px;

}

.about_us_link{
    width: 388px;
    height: 73px;
    border-radius: 35px;
    border: 2px solid rgba(157, 15, 15, 1);
    margin-top: 89px;

}
.about_us_link:hover{
  background: rgba(157, 15, 15, 1);
  
}
.about_us_link a:hover{
  color: rgba(252, 250, 249, 1);
}

.about_us_link a{
     color: rgba(0, 0, 0, 1);
     width: 388px;
     padding-top: 7px;
    
}
.why_choose_us{
  max-width: 1920px;
  width: 100%;
  margin: auto;
  padding: 150px 90px;
}
.footer_logo img{
  width: 608px;
}
.footer_logo{
  display: block;
  margin: auto 0;
}
footer{
  background: rgba(248, 248, 255, 1);
  display: block;
  margin: auto;
  padding-bottom: 36px;

}
.footer_container{
  max-width:1920px;
  width: 100%;
  margin: auto;
  padding: 46px 118px;
  display: flex;
  justify-content: space-between;
}
.site_map_footer h4,
.contact_footer h4{
  font-family: "Kodchasan", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 32.5px;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  
  
}
.site_map_footer,
.contact_footer{
  display: flex;
  flex-direction: column;
}
.site_map_footer a,
.contact_footer a,
.contact_footer p{
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin-top: 26px;


}
.site_map_footer a:hover{
  color: rgba(157, 15, 15, 1);
}


.tel{
  pointer-events: none;
  cursor: default;
}
.shadow {
  background-color: rgba(0, 0, 0, 0.8);

  opacity: 0.7;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
    
}
.services_container{
  max-width:1920px;
  width: 100%;
  margin: auto;
  padding: 90px 100px 0 100px;
}
.services_menu{
  width: 523px;
  height: 100px;
  border-radius: 50px;
  background: rgba(43, 61, 145, 1);
  margin: auto;
  display: flex;
  justify-content: space-between;
  

}
.services_menu_item1{
  width: 269px;
  height: 83px;
  border-radius: 60px;
  background: rgba(248, 248, 255, 1);
  
  display: block;
  margin: auto 0;
  position: relative;

  left: 8px;
  padding: 23px 23px 23px 0px;
}
.services_menu_item1 p,
.services_menu_item2 p{
  font-family: "Kodchasan", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: 0.1em;
  
  
}
.services_menu_item1 p{
  color: rgba(0, 0, 0, 1);
  text-align: center;
}
.services_menu_item2 p{
  color: rgba(255, 255, 255, 1);
  margin: auto;
  text-align: center;
  
}

.services_menu_item1 p::before{
  content: "";
  width: 22px;
  height: 18px;
  background-image: url(../img/check_mark.svg);
  background-repeat: no-repeat;
  background-size: 22px 18px;
  display: inline-block;
  margin-right: 15px;


}
#services_menu_item1_p.style::before{
  content: "";
  width: 22px;
  height: 18px;
  background-image: url(../img/check_mark_white.svg);
  background-repeat: no-repeat;
  background-size: 22px 18px;
  display: inline-block;
  margin-right: 15px;


}

.services_menu_item2{
  width: 240px;
  padding: 23px 23px 23px 5px;
  margin: auto 0;
  display: block;
}
.cloud1{
  width: 240px;
  padding: 23px 5px 23px 23px;
  margin: auto 0;
  display: block;
}
.service_menu_hover1{
  width: 240px;
  padding: 23px 23px 23px 5px;
  margin: auto 0;
  display: block;
  left: 18px;
  background: rgba(43, 61, 145, 1);

}
.service_menu_hover{
  width: 269px;
  height: 83px;
  border-radius: 60px;
  background: rgba(248, 248, 255, 1);
    display: block;
  margin: auto 0;
  position: relative;
  left: -8px;
  padding: 23px 23px 23px 27px;
 }
 .service_menu_hover2{
  width: 269px;
  height: 83px;
  border-radius: 60px;
  background: rgba(248, 248, 255, 1);
    display: block;
  margin: auto 0;
  position: relative;
  left: 7px;
  padding: 23px 23px 23px 27px;
 }

.service_block_one,
.service_block_two
{
  margin: auto;
  padding: 0 100px 0 100px;
}


.step_block_1{
  max-width: 1157px;
  width: 100%;
  margin: auto 0;
}
.step1,
.step2,
.step3{
  display: none;
  
}
.load_btn{
  border: none;

}
.load_btn::after{
  content: "";
  width: 30px;
  height: 17px;
  background-image: url(../img/arrow_down.svg);
  background-repeat: no-repeat;
  background-size: 30px 17px;
  display: inline-block;
  margin-left: 29px;
}
.load_btn.up::after{
  content: "";
  width: 30px;
  height: 17px;
  background-image: url(../img/Arrow_up.svg);
  background-repeat: no-repeat;
  background-size: 30px 17px;
  display: inline-block;
  margin-left: 29px;
}

.step_block_1_line{
  width: 326px;
  border: 2px solid rgba(157, 15, 15, 1);
  margin-top: 36px;
  margin-bottom: 41px;


}

.step_block_2{
  max-width: 1920px;
  width: 100%;
  margin: 78px auto;
  display: flex;
  justify-content: space-between;
}
.step_block_2_img{
   margin: auto 60px;
 
}

.step_block_2_info{
  max-width: 870px;
  width: 100%;
  margin: auto 0;
}

.step_block_2_txt li:nth-child(1){
  margin-top: 30px;

}
.step_block_2_txt li{

  margin-left: 40px;
}
.step_block_3{
  max-width: 1920px;
  width: 100%;
  margin: 89px auto;
}
.step_block_3_info{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.step_block_2_img img{
  display: block;
  margin: auto;
}

.step_block_3_info div{
  max-width: 550px;
  width: 100%;
  height: 388px;
  border-radius: 20px;
  box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.15);
  padding: 40px 55px;
  margin: auto 0;
}
.step_block_3_info div:nth-child(1){
  background: rgba(248, 248, 255, 1);

}
.step_block_3_info div:nth-child(2){
  background: rgba(43, 61, 145, 1);
  color: rgba(255, 255, 255, 1);
  margin-right: 38px;
  margin-left: 38px;

}
.step_block_3_info div:nth-child(3){
  background: rgba(157, 15, 15, 1);
  color: rgba(255, 255, 255, 1);

}
.service_block_two .service_block_button .load_btn::after{
  content: "";
  width: 30px;
  height: 17px;
  background-image: url(../img/Arrow_down_blue.svg);
  background-repeat: no-repeat;
  background-size: 30px 17px;
  display: inline-block;
  margin-left: 29px;
}
.service_block_two .service_block_button .load_btn.up::after{
  content: "";
  width: 30px;
  height: 17px;
  background-image: url(../img/Arrow_up_blue.svg);
  background-repeat: no-repeat;
  background-size: 30px 17px;
  display: inline-block;
  margin-left: 29px;
}
.container_block_two{
  max-width: 1157px;
   width: 100%;
   display: flex;
   flex-direction: column;
   
}
.service_block_two{
  background: rgba(249, 249, 252, 1);

}
.center{
  max-width: 1720px;
  width: 100%;
  margin: auto;
}

#bottom_menu1{
  background: rgba(249, 249, 252, 1);
  
  display: flex;
  justify-content: left;
  margin: auto;
  padding-bottom: 160px; 
  padding-top: 160px;
  padding-left: 33.2%
} 
#bottom_menu,
#bottom_menu2{
  display: flex;
  max-width: 1720px;
  width: 100%;
  margin-bottom: 160px; 
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  
 
}
.bottom_menu{
  margin-bottom: 49px !important;
}
.bottom_menu1{
  padding-bottom: 49px !important;
}
.description_security_consalting,
.description_security_network_consalting{
  max-width: 1720px;
  width: 100%;
  margin: 0 auto;
}
.step2_right{
  display: flex;
  justify-content: left;
    padding-left: 33.2%;
}
.description_security_network_consalting .step_block_2 .step_block_2_img{
  order: 1;
}
.up_page_arrow{
  font-size: 0;
    line-height: 0;
    z-index: 2;
    position: relative;
    padding: 0;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 2px solid rgba(157, 15, 15, 1);
    border-radius: 30px;
    top: -30px;
    color: transparent;
   
    outline: none;
    background: transparent;
}
.up_page_arrow::before{
  content: '';
    width: 20px;
    height: 20px;
    border-top: 3px solid;
    border-right: 3px solid;
       display: block;
    color: rgba(157, 15, 15, 1);
    position: relative;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 18px;
    top: 23px;
}
.up_page{
  max-width: 1920px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: right;
  padding: 0 50px;
}

.up_page_arrow:hover{
background:rgba(157, 15, 15, 1);
transform: scale(0.95);
}
.up_page_arrow:hover::before{
  color: rgba(255, 255, 255, 1);
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu_item u{
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: rgba(157, 15, 15, 1)
}
.menu_item u:hover{
  color: rgba(157, 15, 15, 1);
}

.cloud{
  left: -7px;
}
.contact_info_header,
.success_text{
  font-family: "Kodchasan", sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 82.5px;
  letter-spacing: 0.25em;
  
  color: rgba(43, 61, 145, 1);
  

}
.contact_info_header{
  text-align: left;
}
.contact_info_header span{
  color: rgba(157, 15, 15, 1);


}
.contact_container{
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  margin: auto;
  padding: 120px 140px;
}
.contact_info_item a {
  font-family: "Kodchasan", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 42.5px;
  letter-spacing: 0.1em;
  text-align: left;
  color:rgba(0, 0, 0, 1);
  margin-left: 30px;

  
}
.contact_info_item{
  margin-top: 56px;
}
.contact_info{
  margin: auto 0;
    max-width: 660px;
    width: 100%;
}
.contact_phone{
  cursor: none;
  pointer-events: none;
}
.contact_form_header{
  font-family: "Kodchasan", sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 52.5px;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;


}
.contact_form{
  width: 850px;
  height: 854px;
  border-radius: 20px;
  background: rgba(43, 61, 145, 1);
  padding: 44px 57px;

}
.contact_form hr{
  width: 300px;
  border: 2px solid rgba(255, 255, 255, 1);
  margin-top: 35px;
  margin-bottom: 60px;

}
.field_contacts input,
#phone{
  max-width: 735px;
  width: 100%;
  height: 53px;
  border-radius: 20px;
  border: 2px solid rgba(249, 249, 252, 1);
  margin-bottom: 45px;
  padding: 0 23px;
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: left;
 
}
#phone{
  padding: 0 0 0 60px;
}
.field_contacts input:hover,
#phone:hover,
.field_contacts textarea:hover{
  border: 2px solid rgba(157, 15, 15, 1);
 /* box-shadow: 0 0 20px white;*/
}


input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=tel]::placeholder,
textarea[type=text]::placeholder
{
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgba(148, 154, 157, 1);


}
.field_contacts textarea{
  max-width: 735px;
  width: 100%;
  height: 176px;
  border-radius: 20px;
  background: rgba(248, 248, 255, 1);
  padding: 18px 23px;
  margin-bottom: 50px;
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;


}
.button_for_contacts{
  max-width: 306px !important;
  width: 100%;
  height: 73px !important;
  border-radius: 30px !important;
  border: 2px solid rgba(255, 255, 255, 1);
  background: rgba(43, 61, 145, 1);
  margin: auto;
  display: block;
  color: rgba(255, 255, 255, 1);
  text-align: center !important;
  

}
.button_for_contacts:hover{
  border: 2px solid rgba(255, 255, 255, 1) !important;
  transform: scale(0.98);
}
.success{
  max-width: 1920px;
  width: 100%;
  margin: auto;
  padding: 100px 100px;
}
.success_text{
  text-align: center;
}
.success_back{
  color: rgba(157, 15, 15, 1);
  text-align: center;
  font-family: "Kodchasan", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  display: block;
  margin-top: 50px;
}
.success_back u{
  text-decoration: underline;
  text-underline-offset: 20px;
}  

/*style for intTel*/
.iti {
  display: block !important;
  margin-bottom: 45px;
}
.iti .iti__selected-dial-code{
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
}
.iti__country-name,
.iti__dial-code{
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
/*end of style for intTel*/

.hide{
  display: none;
}

.error{
  box-shadow:0 0 20px rgba(157, 15, 15, 1);
 

}
.tel_error{
  text-align: center;
  display: block;
  margin-bottom: 17px;
  margin-top: -27px;
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 1);
}
.copyright{
  display: block;
  margin: auto;
  max-width: 380px;
  width: 100%;

}
.copyright p{
  font-family: 'Kodchasan', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 19.5px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
    text-align: center;
 
}



@media screen and (min-width: 801px) and (max-width: 4000px) {
  #nav_shadow {
    display: none;
  }
  .hamb {
    display: none;
  }
  .nav {
    max-height: 100px;

    width: 60%;
    right: 0;
    height: 100px;
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    background: none;
  }
  .menu_item_name {
    display: none;
  }
}
@media(max-width:800px) {
  .menu_items {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    padding: 0;
    text-align: center;
    width: 100%;
}
.side-menu:checked~nav {
    max-height: 100vh;
}
.menu_item {
    color: rgba(78, 27, 209, 1);
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    text-align: center;
    margin-left: 0;
}
}
