@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 105%;

    display: block;
    z-index: 2;
    
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(157, 15, 15, 1);
    border-radius: 30px;

    color: transparent;
   
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-next:hover

{
    color: transparent;
    outline: none;
    background: rgba(157, 15, 15, 1);
    
}
.slick-prev:hover:before,
.slick-next:hover:before
{
    opacity: 1;
    color: rgba(248, 248, 255, 1);
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before,
.slick-next.slick-disabled,
.slick-prev.slick-disabled
{
    opacity: .25;
}
.slick-prev.slick-disabled:hover,
.slick-next.slick-disabled:hover{
    background: transparent; 
}
.slick-prev.slick-disabled:hover::before,
.slick-next.slick-disabled:hover::before{
    color: rgba(157, 15, 15, 1);
}


.slick-prev:before,
.slick-next:before
{
   
    content: '';
    width: 13px;
    height: 13px;
    border-top: 3px solid;
    border-right: 3px solid;
   
    display: block;
    color: rgba(157, 15, 15, 1);
    position: relative;
}
.slick-prev:before{
     -moz-transform: rotate(-134deg);
    -webkit-transform: rotate(-134deg);
    transform: rotate(-134deg);
    left: 13px;
}
.slick-next:before{
-moz-transform: rotate(41deg);
    -webkit-transform: rotate(41deg);
    transform: rotate(41deg);
    left: 9px;
}

.slick-prev
{
    left: 14rem;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}


.slick-next
{
    left: 20rem;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}


/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -42px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;
    z-index: 1;
    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;
    color:     rgba(192, 196, 198, 1);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    
    color: rgba(157, 15, 15, 1);
    font-size: 14px;

    
}
